go 1.20

use (
	./github.com/Geun-Oh/design-pattern-with-go
	./github.com/Geun-Oh/distributed-services-with-go/Letsgo
	./github.com/Geun-Oh/distributed-services-with-go/ServeRequestsWithgRPC
	./github.com/Geun-Oh/distributed-services-with-go/WriteALogPackage
	./github.com/Geun-Oh/initial-study
	./github.com/Geun-Oh/jira-github-automation-with-go
)
